* {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.25;
    spacing
}
    strong { letter-spacing: 1.1px;}
    h1{
        font-family: "Pixelify Sans", sans-serif;
        font-size: 1.75em;
        letter-spacing: 2.5px;
    }
    h3{
        font-family: "Pixelify Sans", sans-serif;
        font-size: 1.5em;
        letter-spacing: 2.25px;
    }
    p{
        font-size: 0.9em;
    }
    a {
        text-decoration: none;
        color: black;
    }

body {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 2vw;
}
    .btn {
        color: darkcyan;
        height: 40px;
        width: 120px;
        border-radius: 10px;
        font-family: "Pixelify Sans", sans-serif;
        font-size: 1.5em;
    }
    .btn:hover{
        transition: 0.5s;
        background-color: darkcyan;
        color: lightgrey;
    }
    .sun_body{
        transition: 1s;
        background-color: aqua;
        nav{color: rgb(56, 74, 74);}
        footer{background-color: brown;}
    }
    .moon_body{
        transition: 1s;
        background-color: rgb(7, 53, 97);
        article{background-color: rgb(31, 31, 31);}
        nav {color:aliceblue;}
        footer{background-color: rgb(82, 19, 19);}
    }

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    font-size: 2em;
}
    .brand {
        /* background-color: blue; */
        margin: 40px;
        cursor: grab
    }
    .themes{
        display: flex;
        margin: 10px;
        gap: 3px;
    }
        .theme {
            padding: 3px;
            cursor: grab ;
            position: relative;
        }
        .theme_block{
            display: none;
        }

article {
    background-color: darkslategray;
    color: lightgrey;
    margin-inline: 20%;
    margin-top: 2%;
    padding-inline: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
}
    .my_name {
        margin-bottom: 20px;
    }
    .my_btn {
        background-color: lightgrey;
    }

    
nav{
    /* background-color: rgb(56, 74, 74); */
    color: rgb(56, 74, 74);
    margin-inline: 20%;
    margin-top: 50px;
}


main {
    /* background-color:rgb(10, 205, 205); */
    position: absolute;
    bottom: 75px;
    height: 150px;
    width: 100%;
}
    .person {
        /* background-color: blueviolet; */
        object-fit: contain;
        color: aliceblue;
        position: absolute;
        bottom: 0;
        height: 80px;
        width: 50px;
        padding-bottom: 35px;
        img {
            width: 250%;
        }
    }
    .jump {
        margin-bottom: 20px;
    }

footer {
    background-color: brown;
    color: aliceblue;
    position: absolute;
    align-content: center;
    border: 10px;
    height: 75px;
    width: 100%;
    bottom: 0;
    p{font-size: 0.75em;}
}